.card {
  padding: 2em;
  margin: 1em 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.btn {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit {
  background-color: gainsboro;
  color: black;
}

.btn-delete {
  background-color: red;
  color: white;
}
